<div class="brist">
  <table>
    <tr>
      <td></td>
      <td class="hand-n">
        <span class="spade">&spades;</span> T </br>
        <span class="heart">&hearts;</span> T9863 </br>
        <span class="diamond">&diams;</span> AKT52 </br>
        <span class="club">&clubs; </span> 2 </br>
      </td>
      <td></td>
    </tr>
    <tr>
      <td class="hand-w">
        <span class="spade">&spades;</span> KJ842 </br>
        <span class="heart">&hearts;</span> QJ2 </br>
        <span class="diamond">&diams;</span> 84 </br>
        <span class="club">&clubs; </span> 874 </br>
      </td>
      <td>
      </td>
      <td class="hand-e">
        <span class="spade">&spades;</span> Q9765 </br>
        <span class="heart">&hearts;</span> 754 </br>
        <span class="diamond">&diams;</span> </br>
        <span class="club">&clubs; </span> AK1065 </br>
      </td>
    </tr>
    <tr>
      <td></td>
      <td class="hand-s">
        <span class="spade">&spades;</span> A3 </br>
        <span class="heart">&hearts;</span> A </br>
        <span class="diamond">&diams;</span> QJ9763</br>
        <span class="club">&clubs; </span> QJ93 </br>
      </td>
      <td></td>
    </tr>
  </table>
</div>
