<span class="spade">&spades;</span> <%= hand.select { |card| card.suit == "S" }.map(&:value).join %> </br>
<span class="heart">&hearts;</span> <%= hand.select { |card| card.suit == "H" }.map(&:value).join %> </br>
<span class="diamond">&diams;</span> <%= hand.select { |card| card.suit == "D" }.map(&:value).join %> </br>
<span class="club">&clubs; </span> <%= hand.select { |card| card.suit == "C" }.map(&:value).join %>
