<span class="spade">&spades;</span> <%= cards_in_suit(hand, "S") %> </br>
<span class="heart">&hearts;</span> <%= cards_in_suit(hand, "H") %> </br>
<span class="diamond">&diams;</span> <%= cards_in_suit(hand, "D") %> </br>
<span class="club">&clubs; </span> <%= cards_in_suit(hand, "C") %>
