<span class="suit-S">&spades;</span> <%= cards_in_suit(hand, "S") %> </br>
<span class="suit-H">&hearts;</span> <%= cards_in_suit(hand, "H") %> </br>
<span class="suit-D">&diams;</span> <%= cards_in_suit(hand, "D") %> </br>
<span class="suit-C">&clubs;</span> <%= cards_in_suit(hand, "C") %>
