<h1>Convert BBO url</h1>

<form action="/convert", method="post">
  <textarea name="url" autofocus="autofocus" rows="5" cols="50" placeholder="http://www.bridgebase.com/tools/handviewer.html?s=SKQJT98765432H9DC&w=SAH8743D9873C9654&n=SHQT65DJT6CQT8732&e=SHAKJ2DAKQ542CAKJ&d=n&v=b&b=13&a=2DDRPP3NPPP"></textarea></br>
  <input name="commit" type="submit" value="Convert">
</form>
