<h1>Convert BBO url</h1>

<form action="/convert", method="post">
  <textarea name="url" autofocus="autofocus" rows="5" cols="50" placeholder="You can find it on your BBO boards history as handwiever tool"></textarea></br>
  <input name="commit" type="submit" value="Convert">
</form>
