<h1>Convert BBO url</h1>

<form action="/convert", method="post">
  <textarea name="url" autofocus="autofocus" rows="5" cols="50" placeholder="You can find it on your BBO boards history as handwiever tool"></textarea></br>
  <input name="commit" type="submit" value="Convert">
</form>

or see
<a href="/brist/17055613973184603211770452561?d=N&v=NONE&a=PASS,1C,PASS,2H,PASS,3C,PASS,3H,PASS,3S,PASS,4C,PASS,4D,PASS,4H,PASS,4S,PASS,4NT,PASS,5D,X,6H,PASS,PASS,PASS">example</a>
