<% if defined?(alert) %>
<div class="alert">
  <%= alert %>
</div>
<% end %>

<h4>Brist allows you to import played board from BBO and embed it on your website</h4>
<hr>
<form action="/convert" method="post">
  <fieldset>
    <label for="url">BBO link</label>
    <textarea id="url" name="url" required="required" autofocus="autofocus" rows="5" cols="50" placeholder="You can find it on your BBO boards history as handwiever export tool"></textarea>
    <span class="help-block">Find help on <a href="http://www.bridgebase.com/help/v2help/hand_records.html">BBO</a></span>
    <button type="submit" class="btn">Import</button>
    or see
    <a href="/17055613973184603211770452561?d=N&v=NONE&a=PASS-1C-PASS-2H-PASS-3C-PASS-3H-PASS-3S-PASS-4C-PASS-4D-PASS-4H-PASS-4S-PASS-4NT-PASS-5D-X-6H-PASS-PASS-PASS">example</a>
  </fieldset>
</form>
