<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/brist.css">
    <link rel="stylesheet" href="/application.css">
  </head>
  <body>
    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Brist</a>
        </div>
      </div>
    </div>

    <div class="container">
      <%= yield %>

      <footer class="muted">
      <hr>
      Source available on <a href="https://github.com/morgoth/brist">GitHub</a>
      </footer>
    </div>
  </body>
</html>
