<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/brist.css">
    <link rel="stylesheet" href="/application.css">
  </head>
  <body>
    <a id="github" href="https://github.com/morgoth/brist">
      <span>Fork me on Github</span>
    </a>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
